
/* import font from font.css file */
@import url(./fonts.css);

*{ margin: 0; padding: 0; box-sizing: border-box;font-family:'Poppins' sans-serif; }


.navbar-custom {
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar-brand{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.nav-item{
    color: #fff !important;
    font-weight: 500;
    margin: 8px;
}
.nav-item :hover{
    color: aqua !important;
}
.nav-item :active{
    color:aqua !important;
}
.navbar-dark .navbar-toggler-icon{
    border-color:  none !important;
}
.cus-menu{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    z-index: 999;
    background-color: rgb(255, 255, 255) !important;
    position: sticky;
}
.cus-nav{
    color: #fff;
}






#banner {
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color: #fff;
    padding-top: 5%;
    position: relative;
}
.text-center{
    position: relative;
}
.banner-title{
    margin-top: 100px;
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
}
.banner-title-text{
    font-size: 1rem;
    padding: 8px 0 8px 0;
}
.btn-style{
    border-radius: 0 !important;
    color: #fff;  
    border-radius: 0px !important;
    border-width: 2px;
}
.btn-outline-secondary:active{
    background-color: dimgray;
    background-color: dimgrey !important;      
}
.btn-text-color{
    color: #fff;
    font-size: 1.25rem;
}
.banner-content {
    margin-bottom: 1%;
}
.banner-image{
    margin-top: 20px;
    width: 700px;
  
}
.banner-bottom{
    width: 100%;
}
.banner-bottom {
    width:100%;
    animation: animate 20% linear infinite;
}
.sbg {
    font-size:xx-large;
}








#services {
    padding:  50px 0px;
    background-color: rgb(243, 225, 243);
}
.services{
    padding-bottom: 30px;
}
.image-services{
    width: 240px;
}
.services h4{
    padding: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 700;
}
.services p{
    color: black;
    margin: 0 5px;
    font-weight: 400;
}
.services:hover{
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}
.title{
    font-style: unset !important;
    color:black;
    font-weight: 500;
}
.title::before {
    content: "";
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    height: 3px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(62px);
   
}
.title::after{
    content: "";
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    height: 8px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    /* border-radius: 5px; */
}
.image-back{
    background-image: url(../image/83.jpg) alt="";
    background-position: center;
    background-size: cover;
}

#about{
    background-image: url(../image/83.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}






.project p{
    font-weight: 600;
    align-self: start;
}
.project h1{
    font-size: xx-large;
    margin-top: 20px;
}
#project .title{
    color: aqua;
}
.project-title{
    font-style: unset !important;
    color:black;
    font-weight: 500;
    background-image: url(../image/83.jpg);
    background-size: 100% 100%;
}
.project-title::before {
    content: "";
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    background-size: 100% 100%;
    height: 3px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(62px);
   
}
.project-title::after{
    content: "";
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    height: 8px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);  
}



#team{
    content: "";
    background: linear-gradient(-50deg,#a517ba ,#f3e1f3 50%,#fff 100%);
    z-index: -1;
}

.team-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.team-content {
    border-width: 2px;
    padding: 50px;
    padding-bottom: 0%;
}
.team-content h3{
    margin-top: 15px;
    font-weight: 600;
    color: black;
}
.team-content h5{
    font-weight: 500;
    color: darkgray;
}
.team-content p{
    justify-content: center;
    float: left;
    font-weight: 400;
    color: black;
}
.team-content:hover{
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}







#clients{
    content: "";
    /* background: linear-gradient(-223deg,#a517ba ,#f3e1f3 24%,#fff 100%); */
    z-index: -1;
}

.slick-slide{
    margin: 0 10px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
}


.input-group{
    width: 100%;
    display: flex;
    position: relative;
}
#contect h3{
    width: 100%;
    color: black;
}
#contect p{
    width: 100%;
    font-weight: 700;
    color: linear-gradient(t#a517ba,#5f1782)
}
.group-icon{
    background-color: gainsboro;
    
    padding: 0.5rem 1rem;
}
.input-group{
    margin-bottom: 10px;
    width: 100%;
}
.form-control{
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    line-height: 1.8rem;
    padding: 0.5rem 1rem;
}

#contect .input-group .btn-block{
    /* background-image: linear-gradient(to right,#a517ba,#5f1782) !important; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);  
    /* background-color: dimgray; */
    background-image: linear-gradient(to right,#a517ba,#5f1782);
}
.last-wave{
    background-image: linear-gradient(to right,#a517ba,#5f1782);

}
#contect {
    background-color: rgb(243, 225, 243);
}

#contect .input-group .btn-outline-secondary{
    border: 2px solid #a517ba;
    color: #f3e1f3;
}
#contect .input-group .form-control{
    box-shadow: 2px solid #53ba17 !important;   
}





#last{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    margin-bottom: 0 !important;
    height: 100px;
}
.lastpara{
    padding-top: 40px;
    color:aqua;
}


#topBtn{
    position: fixed;
    bottom: 23px;
    right: 100px;
    font-size: 22px;
    background-color: #a517ba;
    width: 50px;
    height: 65px;
    border:none;
    cursor: pointer;
}


@media(max-width:786px){
    .banner-title{
        font-size: 2.5rem;
    }
}

@media(max-width:992px){
    .banner-title{
        font-size: 2.5rem;
    }
}

@media(max-width:1200px){
    .banner-title{
        font-size: 3.5rem;
    }
}